 <widget id="A6166446479106"  version="0.0.1">
    <name>一只蘑菇APP</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="false" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <preference name="softInputMode" value="resize"/>    <feature name="wxPayPlus">        <param name="urlScheme" value="wx7b35cbad8812347c"/>        <param name="apiKey" value="wx7b35cbad8812347c"/>        <param name="apiSecret" value="21c81a1246a0abb0dd1c6847b28248fd"/>        <param name="universalLink" value="https://app.xinba.com"/>    </feature>    <feature name="wxPlus">        <param name="urlScheme" value="wx7b35cbad8812347c"/>        <param name="apiKey" value="wx7b35cbad8812347c"/>        <param name="apiSecret" value="21c81a1246a0abb0dd1c6847b28248fd"/>        <param name="universalLink" value="https://app.xinba.com"/>    </feature>    <feature name="aliPayPlus">        <param name="urlScheme" value="AliPayPlusA6013259979793" />    </feature>
</widget>